# Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# Carthage
Carthage/

# OSX
.DS_Store

# Build
src/Framework/Build/

# JavaScript
node_modules