--allman false 
--binarygrouping none 
--commas inline 
--comments indent 
--decimalgrouping 3,4 
--elseposition same-line 
--empty void 
--exponentcase lowercase 
--header ignore 
--hexgrouping none 
--hexliteralcase uppercase 
--ifdef noindent 
--indent 4 
--indentcase false 
--linebreaks lf 
--octalgrouping none 
--operatorfunc spaced 
--patternlet inline 
--ranges nospace 
--semicolons never 
--stripunusedargs closure-only 
--trimwhitespace always 
--wraparguments afterfirst 
--wrapelements beforefirst 
--disable blankLinesAtStartOfScope,fileHeader,redundantSelf,redundantRawValues,spaceInsideBrackets,strongOutlets,unusedArguments
--exclude Carthage
