//
//  Copyright © 2018 Avast. All rights reserved.
//

#include "../../../config/App/Common.xcconfig"

CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Support/Sources/Demo.entitlements
INFOPLIST_FILE = $(SRCROOT)/Support/Sources/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.avast.topee.Demo
PRODUCT_MODULE_NAME = Demo
PRODUCT_NAME = Demo
