//
//  Copyright © 2018 Avast. All rights reserved.
//

#include "../Common/Common.xcconfig"

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
COMBINE_HIDPI_IMAGES = YES
DEVELOPMENT_TEAM = 5696C7SX37
ENABLE_TESTABILITY = YES
SKIP_INSTALL = NO
